{% if ssh.motd is defined %}
{{ ssh.motd }}
{% else %}
#########################################################
#      You are successfully logged in to: {{ inventory_hostname }}      #
#########################################################

{% endif %}