
# Cumulus DNS Role

Edit various DNS settings in resolv.conf

Variable | Choices | Type
--- | --- | ---
dns.domain|Single FQDN used for this switch's domain name.|String
dns.search_domain|DNS search domain.|List of Strings
dns.servers.ipv4|DNS server IP addresses.|List of Strings
dns.servers.vrf|VRF used to communicate to DNS server.|List of Strings

## Examples
{% for inventory in list_of_inventories.stdout.split('\n') %}
<details><summary markdown="span">{{ inventory }}</summary>
{%   for switch in hosts_per_inventory.results|selectattr('item', 'defined')|map(attribute='stdout_lines')|first %}
{{ switch }}
<pre><code>dns:
{{ hostvars[inventory_hostname][inventory + '_' + switch]["dns"]|to_nice_yaml( width=50 )|trim|indent(2, indentfirst=True) }}
</code></pre>
{%   endfor %}
</details>
{% endfor %}
