
# Cumulus TACACS+ Server Role

Configure TACACS+ Server

Variable | Choices | Type
--- | --- | ---
tacacs.groups|list of groups to map users into.|String
tacacs.users|list of all users.|List of Strings
tacacs.secret|tacacs secrect key.|List of Strings

## Examples
{% for inventory in list_of_inventories.stdout.split('\n') %}
<details><summary markdown="span">{{ inventory }}</summary>
{%   for switch in hosts_per_inventory.results|selectattr('item', 'defined')|map(attribute='stdout_lines')|first %}
{{ switch }}
<pre><code>tacacs.groups:
{{ hostvars[inventory_hostname][inventory + '_' + switch]["tacacs"]["groups"]|default('N/A')|to_nice_yaml( width=50 )|trim|indent(2, indentfirst=True) }}
tacacs.users:
{{ hostvars[inventory_hostname][inventory + '_' + switch]["tacacs"]["users"]|default('N/A')|to_nice_yaml( width=50 )|trim|indent(2, indentfirst=True) }}
tacacs.secret: {{ hostvars[inventory_hostname][inventory + '_' + switch]["tacacs"]["secret"]|default('N/A')|to_nice_yaml( width=50 )|trim }}
</code></pre>
{%   endfor %}
</details>
{% endfor %}

