{% if comments|default(False) %}
###############
# Eth0 interface
###############
{{ eth0|default()|to_nice_yaml|comment(prefix='# mgmt:', postfix='') -}}
{% endif %}
{% if eth0.ips is not defined %}
auto eth0
iface eth0 inet dhcp
    vrf mgmt
{% else %}
auto eth0
iface eth0
    vrf mgmt
{%   for address in eth0.ips|default() %}
    address {{ address }}
{%   endfor %}
{%   for extra in eth0.extras|default() %}
    {{ extra }}
{%   endfor %}
{% endif %}

{##}
