{% for bond in bonds|default() %}
interface {{ bond.name }}
{%   if bond.options is defined %}
{%     if bond.options.pim is defined %}
{%       if bond.options.pim %}
  ip pim
{%       endif %}
{%     endif %}
{%   endif %}
{%   if bond.es_df_pref is defined %}
  evpn mh es-df-pref {{ bond.es_df_pref }}
{%   endif %}
{%   if bond.es_id is defined %}
  evpn mh es-id {{ bond.es_id }}
  evpn mh es-sys-mac {{ evpn_mh.sysmac }}
{%   endif %}
{% endfor %}

{% if evpn_mh is defined and evpn_mh.startup_delay is defined %}
 evpn mh startup-delay {{ evpn_mh.startup_delay }}
{% endif %}
